<!DOCTYPE html>
<html>
<head>
  <title>Main Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      font-family: Arial, sans-serif;
      text-align: center;
      margin-top: 50px;
    }
    .button {
      display: inline-block;
      margin: 10px;
      padding: 15px 25px;
      font-size: 16px;
      text-decoration: none;
      color: #fff;
      background-color: #007BFF;
      border-radius: 5px;
      border: none;
      cursor: pointer;
    }
    .button:hover {
      background-color: #0056b3;
    }
  </style>
</head>
<body>
  <h1>DoNDra</h1>
  
  <a href="<%= questions_path %>" class="button">問題に進む</a>
  <a href="<%= incorrect_user_answers_path %>" class="button">間違えた問題リスト</a>
  <a href="<%= about_path %>" class="button">アプリについて</a>
  
  <p>
    <%= link_to "ログアウト", top_logout_path %>
  </p>
</html>
